<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Grimsonland</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.js"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: #151515;
      }

      canvas {
        display: block;
        margin: auto;
        cursor: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    </style>

    <script
      src="<%= staticsBaseUrl %>game.bundle<% if (!debug) { %>.min<% } %>.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body></body>
</html>
